<% img = "https://picsum.photos/300/300?random=#{@restaurant.id + 51}" %>

<div class="container">

  <div class="card-category mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <%= @restaurant.name %>
  </div>

  <div class="card-product">
    <img src=<%= img %> />
    <div class="card-product-infos">
      <h2><%= @restaurant.name %></h2>
      <p><strong><%= @restaurant.category.capitalize %></strong></p>
      <p><%= @restaurant.address %></p>
      <p><%= @restaurant.phone_number %></p>

    </div>
  </div>

  <div class="d-flex container-form row form-control">
      <h4>Write a review</h4>
      <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :rating, collection: 0..5 %>
        <%= f.input :content %>
        <%= f.submit class: "mb-2" %>
      <% end %>
  </div>

  <div>
    <% @restaurant.reviews.each do |review| %>
    <div class="d-flex">
      <div class="">
        <h4><%= review.rating %></h4>
        <p><%= review.content %></p>
      </div>
    </div>
    <% end %>
  </div>

</div>
